# Dependencies
node_modules
npm-debug.log*
yarn-error.log*

# Next.js
.next
out

# Testing
coverage
playwright-report
test-results

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*

# Misc
*.md
.env*.local
.prettierrc
.prettierignore
eslint.config.mjs
jest.config.js
playwright.config.ts
__tests__
e2e
